.about-links {
  &__url {
    display: inline-block;
    padding-bottom: 15px;
    min-width: 40px;
    text-align: center;
  }
  i {
    vertical-align: middle;
    font-size: 30px;
    margin-right: 5px;
  }
  &__username {
    margin-left: 6px;
  }
}
