/* You can add global styles to this file, and also import other style files */
$primary-color: #ff8c00;
@import 'about.component';
@import 'app.component';
@import 'fontawesome.overrides';
@import 'nav-menu.component';
@import 'bootsrap.overrides';



html {
  font-size: 14px;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

